<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
				
					org.hibernate.dialect.MySQLDialect
					<!-- 
				    org.hibernate.dialect.DerbyDialect
					  -->
				</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="mappingDirectoryLocations">
			<list>
				<value>
					classpath:com/createdevelopment/house/dao/hibernate
				</value>
			</list>
		</property>
		
	</bean>
	
	<bean name="baseDao" class="com.createidea.scrumfriend.dao.BaseDaoImpl" abstract="true" >
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
    <bean name="houseDao" class="com.createdevelopment.house.dao.house.HouseDaoImpl" parent="baseDao"></bean>
    <bean name="pictureDao" class="com.createdevelopment.house.dao.picture.PictureDaoImpl" parent="baseDao"></bean>
    <bean name="typeDao" class="com.createdevelopment.house.dao.type.TypeDaoImpl" parent="baseDao"></bean>
    <bean name="roomTypeDao" class="com.createdevelopment.house.dao.roomtype.RoomTypeDaoImpl" parent="baseDao"></bean>
    <bean name="publicFacilityDao" class="com.createdevelopment.house.dao.publicfacility.PublicFacilityDaoImpl" parent="baseDao"></bean>
    
	
</beans>