<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
       default-lazy-init="true">
    <!-- 所有ACTION都继承此类 -->
	<bean id="baseAction" class="com.createidea.scrumfriend.struts.action.BaseAction" scope="prototype">
	
	</bean>   
	
	<bean id="houseAction" class="com.createdevelopment.house.action.HouseAction" scope="prototype" parent="baseAction">
       <property name="houseService" ref="houseService" />
       <property name="pictureService" ref="pictureService" />       	    
	</bean>
	
	<bean id="typeAction" class="com.createdevelopment.house.action.TypeAction" scope="prototype" parent="baseAction">
       <property name="typeService" ref="typeService" />       	    
	</bean>
	
	<bean id="roomTypeAction" class="com.createdevelopment.house.action.RoomTypeAction" scope="prototype" parent="baseAction">
       <property name="roomTypeService" ref="roomTypeService" /> 
       <property name="typeService" ref="typeService" /> 
       <property name="pictureService" ref="pictureService" />      	    
	</bean>
	
    <bean id="pictureAction" class="com.createdevelopment.house.action.PictureAction" scope="prototype" parent="baseAction">
       <property name="pictureService" ref="pictureService" />       	    
	</bean>
	
	 <bean id="publicFacilityAction" class="com.createdevelopment.house.action.PublicFacilityAction" scope="prototype" parent="baseAction">
       <property name="publicFacilityService" ref="publicFacilityService" />       	    
	</bean>
</beans>
