<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
       default-lazy-init="true">
     
	
	<bean id="houseService" class="com.createdevelopment.house.service.house.HouseServiceImpl">		
		<property name="houseDao" ref="houseDao" />
	</bean>
	
	<bean id="pictureService" class="com.createdevelopment.house.service.picture.PictureServiceImpl">		
		<property name="pictureDao" ref="pictureDao" />
	</bean>
	
	<bean id="typeService" class="com.createdevelopment.house.service.type.TypeServiceImpl">		
		<property name="typeDao" ref="typeDao" />
	</bean>
	
	<bean id="roomTypeService" class="com.createdevelopment.house.service.roomtype.RoomTypeServiceImpl">		
		<property name="roomTypeDao" ref="roomTypeDao" />
	</bean>
	
	<bean id="publicFacilityService" class="com.createdevelopment.house.service.publicfacility.PublicFacilityServiceImpl">		
		<property name="publicFacilityDao" ref="publicFacilityDao" />
	</bean>
	
	
</beans>
